Source: stash
Section: utils
Priority: optional
Maintainer: 
Uploaders: 
Build-Depends: debhelper,
 devscripts,
 automake,
 libtool,
 bash-completion,
 libdb4.8++-dev,
 libssl-dev,
 pkg-config,
 libevent-dev,
 libboost-system1.48-dev | libboost-system-dev (>> 1.47),
 libboost-filesystem1.48-dev | libboost-filesystem-dev (>> 1.47),
 libboost-program-options1.48-dev | libboost-program-options-dev (>> 1.47),
 libboost-thread1.48-dev | libboost-thread-dev (>> 1.47),
 libboost-test1.48-dev | libboost-test-dev (>> 1.47),
 libboost-chrono1.48-dev | libboost-chrono-dev (>> 1.47),
 libminiupnpc8-dev | libminiupnpc-dev,
 qt4-qmake, libqt4-dev,
 qttools5-dev-tools, qttools5-dev,
 libqrencode-dev,
 libprotobuf-dev, protobuf-compiler,
 python,
 libzmq3-dev
Standards-Version: 3.9.2
Homepage: https://www.stashpay.io/
Vcs-Git: git://github.com/stashpayio/stash.git
Vcs-Browser: https://github.com/stashpayio/stash

Package: stashd
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: peer-to-peer network based digital currency - daemon
 Stash is an experimental new digital currency that enables anonymous, instant
 payments to anyone, anywhere in the world. Stash uses peer-to-peer
 technology to operate with no central authority: managing transactions
 and issuing money are carried out collectively by the network. Stash Core
 is the name of the open source software which enables the use of this currency.
 .
 This package provides the daemon, stashd, and the CLI tool
 stash-cli to interact with the daemon.

Package: stash-qt
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: peer-to-peer network based digital currency - Qt GUI
 Stash is an experimental new digital currency that enables anonymous, instant
 payments to anyone, anywhere in the world. Stash uses peer-to-peer
 technology to operate with no central authority: managing transactions
 and issuing money are carried out collectively by the network. Stash Core
 is the name of the open source software which enables the use of this currency.
 .
 This package provides Stash-Qt, a GUI for Stash based on Qt.

Package: stash-tx
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: peer-to-peer digital currency - standalone transaction tool
 Stash is an experimental new digital currency that enables anonymous, instant
 payments to anyone, anywhere in the world. Stash uses peer-to-peer
 technology to operate with no central authority: managing transactions
 and issuing money are carried out collectively by the network. Stash Core
 is the name of the open source software which enables the use of this currency.
 .
 This package provides stash-tx, a command-line transaction creation
 tool which can be used without a stash daemon.  Some means of
 exchanging minimal transaction data with peers is still required.
